<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">wORkflow</a>
    
    
    <div class="d-flex justify-content-between collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/patients/register">手術報到</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/patients/op-record">術中紀錄</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/patients/por-record">術後紀錄</a>
        </li>
      </ul>
      <a class="btn btn-primary me-3 " href="#">登出</a>
    </div>
  </div>
</nav>