<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link" href="#">所有手術</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">未報到</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">已報到</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">已取消</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">手術中</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">手術完成</a>
  </li>

</ul>